[user]
	email = hajo.haas@hmmh.de
	name = Hajo Haas
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
	tool = nvimdiff
	prompt = false
[difftool]
	prompt = false
[push]
	autoSetupRemote = true
[merge]
	tool = nvimdiff
  ; conflictstyle = diff3
[mergetool "nvimdiff"]
  layout = "LOCAL,REMOTE / MERGED"
[mergetool]
	keepBackup = false
[core]
	editor = nvim
[init]
	defaultBranch = main
[pull]
	rebase = true
[alias]
	lastdiff = difftool HEAD~1 HEAD
