"$schema" = 'https://starship.rs/config-schema.json'

add_newline = true

format = """
$os\
$directory\
$line_break\
$character
"""

right_format = ""

[os]
disabled = false
style = "fg:bright-black"
format = "[$symbol ]($style)"

[os.symbols]
Windows = ""
Ubuntu = "󰕈"
SUSE = ""
Raspbian = "󰐿"
Mint = "󰣭"
Macos = "󰀵"
Manjaro = ""
Linux = "󰌽"
Gentoo = "󰣨"
Fedora = "󰣛"
Alpine = ""
Amazon = ""
Android = ""
Arch = "󰣇"
Artix = "󰣇"
CentOS = ""
Debian = "󰣚"
Redhat = "󱄛"
RedHatEnterprise = "󱄛"

[username]
show_always = true
style_user = "bold cyan"
style_root = "bold red"
format = "[$user]($style): "

[cmd_duration]
show_milliseconds = false
format = "[$duration]($style) "
style = "bold magenta"
disabled = false

[character]
disabled = false
success_symbol = '[|>](bold fg:green)'
error_symbol = '[|>](bold fg:red)'
vimcmd_symbol = '[<|](bold fg:green)'
vimcmd_replace_one_symbol = '[<|](bold fg:lavender)'
vimcmd_replace_symbol = '[<|](bold fg:lavender)'
vimcmd_visual_symbol = '[<|](bold fg:yellow)'

[directory]
style = 'fg:bright-black'
format = "[$path]($style)"
truncation_length = 5
